.recipes-header,
.recipes-description {
    text-align: center;
} 

.recipes-header {
    background-color: burlywood;
}

.koko-header {
    background-color: grey;
    color: aliceblue;
}

.recipes-description {
    background-color: rgb(162, 105, 105);
    color: rgb(255, 250, 240);
}

img {
    margin: 16px 10px;
}

.index-body {
    background-color: rgb(255, 81, 0);
}

.intro {
    background-color: bisque;
}

.title {
    margin: 4px 8px 0px;
    border-top: 8px bisque solid;
    text-align: center;
    padding: 8px;
    background-color: rgba(245, 159, 9, 0.619);
}
.lists {
    display: inline;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}